<!DOCTYPE html>
<html ng-app="thorvarium" ng-controller="AppCtrl" lang="en">
  <head>
    <title ng-bind="pageTitle">Thorvarium</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Thorvarium is a simple but vicious html5 multiplayer dynamic turn-based game">
    <meta name="author" content="Guilherme Oliveira">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@_holiveira">
    <meta name="twitter:title" content="Thorvarium">
    <meta name="twitter:description" content="A turn based multiplayer space ship game from ninies.">
    <meta name="twitter:creator" content="@_holiveira">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="Thorvarium" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="A turn based multiplayer space ship game from ninies.">

    <!-- font awesome from BootstrapCDN -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- js config -->
    <script type="text/javascript">
        var apiUrl = '<%= api %>';
        var wsUrl = '<%= ws %>';
        var assetsUrl = '<%= assets %>';
    </script>

  </head>
  <body id="page-top">
    <div class="main-view" ui-view="main"></div>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  
  </body>
</html>
